web/xsd/schematype/basic/basicxmlresponse.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xs:element name="XmlDto">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="request" minOccurs="1" maxOccurs="1" type="xs:string" />
				<xs:element name="reason" minOccurs="1" maxOccurs="1" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>